.custom-btn {
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Enlever la bordure */
  }
  
  .custom-btn:hover {
    background-color: #45a049; /* Couleur du bouton au survol */
  }
  